@media all and (max-width:580px){
  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  img{
    height: 125px;
  }
  div{

  }
  .row{
    width: 100%;
  }
  h1{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  h3{
    font-size: 16px;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 50%;
    margin: auto;
    float: none;
    margin-bottom: 40px;
  }
  #steps .row>.central{
  }
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
    float: none;
    margin: auto;
  }
  #lezioni .row>.left{
    margin-bottom: 30px;
  }
